<div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="post__wrap">
      <h1 class="post__title">{{post.title}}</h1>

      <button
        [routerLink]="['/']"
        class="post__btn">Home page</button>
    </div>

    <div class="post__info">
      <div class="post__author">Автор: {{ post.author }}</div>
      <div class="post__date">{{ post.date | date:'medium':'':'uk' }}</div>
    </div>

    <div>
      <quill-view-html [content]="post.text" ></quill-view-html>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
