<div class="wrapper">
  <aside class="aside">
    <h2 class="aside__title">Blog</h2>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item" routerLinkActive="active"><a [routerLink]="['']" class="menu__link">Главная</a></li>
        <li class="menu__item"><a class="menu__link">Главная</a></li>
        <li class="menu__item"><a class="menu__link">Главная</a></li>
        <li class="menu__item"><a class="menu__link">Главная</a></li>
      </ul>
    </nav>
    <a [routerLink]="['/admin']" class="menu__login">img Войти</a>
  </aside>
  <main class="main">
    <div class="main__container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>




