
<div class="card-item">
  <div class="card-item__left">
    <div class="card-item__counter"><span>{{idx + 1}}</span> Пост</div>
    <div class="card-item__left-wrap">
      <div class="card-item__title">{{post.title}}</div>
      <div class="card-item__author">{{post.author}}</div>
    </div>
  </div>
  <div class="card-item__right">
    <div class="card-item__date">{{post.date | date: 'dd.MM.yyyy'}}</div>
    <button
      [routerLink]="['/post', post.id]"
      class="card-item__btn">Open post</button>
  </div>
</div>
