.modal-wrap{
  position: fixed;
  padding: 40px 15px;
  z-index: 400;
  width: 100%;
  height: 100%;
  background: rgba(43, 62, 105, 0.4);
  backdrop-filter: blur(30px);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

.modal{
  max-width: 480px;
  margin: auto;
  border-radius: 4px;
  background: #29324F;
  padding: 60px 100px;
  &__title{
    color: #94B3E2;
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  &__text{
    color:  #7088AC;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 0 0 40px 0;
  }
  &__list{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.btn-delete{
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;;
  padding: 11px 35px;
  border: none;
  outline: none;
  background: #FD3162;
  color: #FFFFFF;
  transition: background-color .3s ease;
  &:hover{
    background: #af2949;
  }
}

.btn-back{
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;;
  padding: 11px 35px;
  border: none;
  outline: none;
  background: #2C3955;
  color: #68A4FF;
  margin: 0 10px 0 0;
  transition: background-color .3s ease;
  &:hover{
    background: #394a70;
  }

}
