.wrapper {
  display: grid;
}

.aside {
  position: fixed;
  z-index: 15;
  width: 20%;
  background: linear-gradient(176deg, rgba(102, 117, 174, 0.10) 1.92%, rgba(43, 62, 105, 0.10) 90.46%);
  min-height: 100vh;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 108%;
    letter-spacing: -0.64px;
    margin: 0 0 50px 0;
  }

}

.main{
  width: 100%;
  padding-left: 20%;
  &__wrapper{
    display: flex;
    flex-direction: column;
  }
  &__top{
    padding: 20px 30px;
    width: 100%;
    border-bottom: 1px solid #2B3E69 ;
  }
  &__title{
    text-align: center;
    text-transform: uppercase;
  }
}


.menu {
  flex: 1 1 auto;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;

  }
  &__item{
    &.active{
      .menu__link{
        color: #FFFFFF;
        background: #0057FF;
      }
    }
  }
  &__link {
    color: #FFFFFF;
    width: 100%;
    display: inline-block;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 4px;
    transition: background .3s ease;
    &:hover{
      background: #0057FF;
    }
  }

  &__login{
    color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 4px;
    transition: background .3s ease;
    &:hover{
      background: #0057FF;
    }
  }
}



