<app-alert></app-alert>

<div class="wrapper">
  <aside class="aside">
    <h2 class="aside__title">Меню</h2>
    <nav class="menu">
      <ul *ngIf="!auth.isAuthenticated()" class="menu__list">
        <li class="menu__item" routerLinkActive="active"><a [routerLink]="['']" class="menu__link">Вернутся к блогу</a></li>
      </ul>
      <ul *ngIf="auth.isAuthenticated()" class="menu__list">
        <li routerLinkActive="active" class="menu__item"><a [routerLink]="['/admin', 'dashboard']" class="menu__link">Редактировать посты</a></li>
        <li routerLinkActive="active" class="menu__item"><a [routerLink]="['/admin', 'create']" class="menu__link">Создать пост</a></li>
      </ul>
    </nav>
    <a
      [routerLink]="['']"
      *ngIf="auth.isAuthenticated()"
      (click)="logOut($event)"
      class="menu__login" >
      <img ngSrc="assets/image/icon-login.svg"
           alt="icon" height="24"
           width="24"> Выйти</a>
  </aside>
  <main class="main">
    <div class="main__wrapper">
      <div class="main__top">
        <h2
          class="main__title">Admin</h2>
      </div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>


